@import '/src/styles/fonts/fonts.scss';

.headings{
    font-family: "amita" !important;
    font-weight: bold;
    color: white;
    font-style: normal;
}

.pageFonts{
    font-family: "Poppins Regular" !important;
    font-weight: bold;
    color: rgb(117, 101, 101);
    font-style: normal;
}
