@import '/src/styles/fonts/fonts.scss';

.headings{
    font-family: "amita" !important;
    font-weight: bold;
    color: white;
    font-style: normal;
}

.searchbar{
    font-family: "Poppins" !important;
    font-weight: bold;
    color: rgb(236, 231, 231);
    font-style: normal;
}
