@font-face {
    font-family: 'amita';
    src: url('../assets/fonts/amita-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
  
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  